body{
    background-color: #000000;
}

.header {
font-size: 40px;
width: 100%;
border: 6px solid rgb(188, 142, 16);
color: #000000;
}

.Contenido{
    padding-top: 4%;
    font-size: 26px;
    width: 80%;
    background-color: rgb(255, 250, 201);
    opacity: 70%;
    align-items: flex-start;
    color: black;
    font-style: oblique;
}
.fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
    justify-content: center;
    
    
}
.imagen{
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 3.5px dotted black;
    border-radius: 40px;
}

.Texto{
    margin-left: 20px;
    width: 90%;
    height: 38px;
    border-radius: 30px;
    color: black;
    font-size: 25px;
    font-style:italic;
}
h2{
    color: rgb(255, 255, 255);
}
.Datos{
    width: 100%;
    background: rgb(43, 42, 42);
    color: yellow
}
.copy_right_footer{
    background: rgb(141, 122, 29);
    color: rgb(0, 0, 0);
    font-size: larger;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

